
.class-modal01{
    background-color: black;
}

.navbar-site-river{
    background-image: url(../imgs/backgroud/back_topo.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: block;
    background-color: transparent;
    border: none;
    padding: 6px 0 0 0;
}

#menu-navegacao ul li a{
    color: white;
    font-size: 17px;
    font-weight: bold;
}
#menu-navegacao ul li a:hover{
    color: black;
}
.navbar-brand{
   margin-top: -17px; 
}

section{
    padding-top: 60px;
    
}
h1{
    font-family: font_titulos;
}
h2{
    font-family: font_titulos;
}
h3{
    font-family: font_titulos;
}
h4{
    font-family: font_titulos;
}
.slide-principal{
    height: 450px;
}
.slide_principal_item{
    height: 450px;
}
.img_div_slide{
     position: absolute;
    z-index: -1;
    width: 25%;
    background-attachment: fixed;
    display: block;
}
.box_slide_principal_titulo{
    background-color: #000;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    height: auto;
    margin: 150px 0 0 0;
    top: 1px;
    right: 10px;
    
}
.box_slide_principal_titulo a{
    color: white;
}

.div_redesociais .page-header h1{
    font-size: 50px;
    color: #fff;
	text-shadow: #000 1px 1px 7px;
    margin: -50px 0 0 0;
}
.row_btn_redesociais{
    margin: 70px 0 50px 0;
}
.msg_redesociais{
    margin: 50px 0 50px 0;
    color: #777;
    text-shadow: #aaa 1px 1px 3px;
}
.div_prox_jogo{
    background-image: url(../imgs/backgroud/back2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-attachment: fixed;
}
.div_prox_jogo{
     padding: 120px 0 70px 0;
}
.caixa_conteudo_proxjogo{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Color white with alpha 0.9*/
    box-shadow: 1px 1px 20px #fff;
}
.caixa_conteudo_proxjogo h4{
    font-weight: 900;
}
.caixa_conteudo_proxjogo h1{
    font-weight: 900;
}
.caixa_conteudo_proxjogo h2{
    font-weight: 900;
}
.prox_jogo_nome_campeonato{
    margin-top: 30px;
}
.prox_jogo_tempo{
    margin-top:80px;
}

.div_noticias{
    padding: 40px 0 20px 0;
}
.div_noticias .page-header h1{
    font-size: 50px;
    color: #fff;
    text-shadow: #000 1px 1px 7px;
}
.noticias_item h3{
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    color: #fff;
	text-shadow: #000 2px 3px 2px; 
}
.noticias_item h3:hover{
    text-decoration: underline;
    
}
.noticias_item{
    margin: 0 -15px 0 -15px;
<<<<<<< HEAD
    max-height: 250px;
=======
>>>>>>> 983e8208d1c5db2602693be5066beb5e7eb725ac
    
}
.noticias_row{
    margin-bottom: 0px;
}
.row_mais_noticias a{
    color: #555;
    text-shadow: #aaa 2px 2px 5px;
}

.img_campanha:hover{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(50%); /* Chrome 19+ & Safari 6+ */
}
img.grayscale_noticias {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
img.grayscale_noticias:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

img.grayscale2 {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale2:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

<<<<<<< HEAD
.div_noticia_page{
    margin:100px 0 0 0;
}
.div_noticia_page .content{
    margin:50px 0 0 0;
}
.div_noticia_page .img{
    margin:50px 0 0 0;
}

=======
>>>>>>> 983e8208d1c5db2602693be5066beb5e7eb725ac
.div_canal_galo{
   /* background-image: url(../imgs/backgroud/back_canal.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-attachment: fixed; */
}
.div_canal_galo .page-header h1{
    font-size: 50px;
    color: #fff;
	text-shadow: #000 1px 1px 7px;
    margin: -50px 0 0 0;
}
.slide_video{
    padding: 20px;
}

.videos_item{
    background-color: white;
    pointer-events: painted;
}
.videos_item h4{
    margin-top: -30px;
    text-align: center;
    color: #fff;
	text-shadow: #000 2px 3px 2px; 
}

.div_elenco{
    background-image: url(../imgs/backgroud/back_elenco.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-attachment: fixed;
}
.div_elenco .page-header h1{
    font-size: 50px;
    color: #fff;
	text-shadow: #000 2px 2px 8px;
    margin: -50px 0 0 0;
}
.elenco_item a img{
    z-index: -1;
}
.elenco_item a span{
    position: relative;
    top: -50px;
    padding: 10px 20px;
    font-size: 20px;
    color: #555;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
}
.slide-elenco{
    margin-top: 70px;
}
.div_patrocinadores{
}
.div_patrocinadores .page-header h2{
    color:white;
	text-shadow: black 1px 1px 5px;
    margin: -30px 0 0 0;
}

.div_app_river{
    background-image: url(../imgs/backgroud/back_app.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-attachment: fixed;
    margin: 50px 0 -50px 0;
}
.msg_app_river{
    color: white;
    text-shadow: #000 2px 2px 4px;
    padding-bottom: 80px;
    margin: 0 0 0 60px;
}
.msg_app_river h2{
    padding-bottom: 30px;
    margin: 50px 0 0  30px;
}
.footer_site{
    height: 100%;
    margin: 50px 0 0 0;
    padding: 40px 0 40px 0;
    background-color: #444;
}

.footer_site h3{
    text-shadow: #000 1px 2px 1px;
    color: white;
}
.footer_site h3:hover{
    color:#999;
}

.footer_site h4 {
    color:#ccc;
}
.footer_site h4:hover {
    color:#fff;
}

.footer_site2{
    height: 50px;
    padding: 20px;
    background-color: #333;
}

.row_copyrite{
    color: white;
}
.row_copyrite strong{
    margin-left: 5px;
}

@font-face {
    font-family: font_titulos;
    src: url(../font/OpenSans-ExtraBold.woff);
}